<div *ngIf="todolist" class="card my-2 ml-0" style="width: 18rem;">
  <div [class]="'modal-header  text-white bg-' + todolist.color">
    <h3 class="card-title" (click)="edit(todolist.id); $event.stopPropagation()">
      {{todolist.title}}
      <sup><i class="fas fa-pencil-alt"></i></sup>
    </h3>
    <button type="button" class="close text-white"
            data-toggle="modal" [attr.data-target]="'#todoModal'+todolist.id">
      <i class="fas fa-times-circle"></i>
    </button>
  </div>
  <div class="card-body p-0" (click)="detail(todolist.id)">
    <div *ngIf="items.length<=3">
      <ul class="list-group list-group-flush" *ngFor="let item of (items.slice(0,3))">
        <li class="list-group-item ">{{item.title}}</li>
      </ul>
    </div>
    <ul class="list-group list-group-flush" *ngIf="items.length>3">
      <li class="list-group-item">{{items[0].title}}</li>
      <li class="list-group-item">{{items[1].title}}</li>
      <li class="list-group-item schaduuw rounded-bottom">{{items[2].title}}</li>
    </ul>
  </div>
</div>

<div class="modal fade"
     [id]="'todoModal'+todolist.id" tabindex="-1" role="dialog"
     [attr.aria-labelledby]="'todoModalLabel'+todolist.id" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <p>Are you sure you want to delete todolist "{{todolist.title}}"?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" (click)="delete(todolist.id);" data-dismiss="modal" [attr.data-target]="'#itemModal'+todolist.id">YES</button>
          <button class="btn btn-danger" data-dismiss="modal">NO</button>
        </div>
      </div>
    </div>
  </div>
</div>

